---
layout: layout.njk
---

<section class="mt-3">
  <img class="ava ava-xl" src="/static/images/lego.webp" />

  <div class="fr gr gr-card mt-3">
    <div class="fr-block">
      <h2>Social</h2>
      <ul>
        <li>
          <a href="{{ site.url }}">Site (angel.kiwi)</a>
        </li>
        <li>
          <a href="{{ social.twitter }}"><s>X</s> Twitter</a>
        </li>
        <li>
          <a href="{{ social.bluesky }}">Bluesky</a>
        </li>
      </ul>
    </div>
    <div class="fr-block">
      <h2>Work</h2>
      <ul>
        <li>
          <a href="{{ social.github }}">GitHub</a>
        </li>
        <li>
          <a href="{{ social.linkedin }}">LinkedIn</a>
        </li>
      </ul>
    </div>
    <div class="fr-block">
      <h2>Speaker</h2>
      <ul>
        <li>
          <a href="{{ social.sessionize }}">Sessionize</a>
        </li>
      </ul>
    </div>
  </div>
</section>