---
title: TIL (Today I learned)
description: A collection of short articles about things I learn everyday
layout: layout.njk
---

<section class="block" aria-labelledby="blog-title">
  <h2 id="blog-title" class="home-title">
    TIL (Today I learned)
  </h2>
  <p class="home-subtitle">A collection of short articles about things I learn everyday</p>
  <ul class="home-blog-list">
    {% for til in collections.til | reverse %}
      <li>
        <a href="{{ til.url }}">
          <article>
            <h3>{{ til.data.title }}</h3>
            <date>
              {{ til.data.date | date("YYYY / MM") }}
            </date>
          </article>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>