---
layout: layout.njk
---

<section class="hero block" aria-labelledby="hero-title">
  <div class="illustration">
    <img src="/static/images/illustration.svg" alt="An illustration of myself">
  </div>
  <div class="introduction">
    <h2 id="hero-title">
      Hello! I'm Angel
    </h2>
    <p>I'm a very curious person that loves to learn new things and play videogames. Currently, I work at @VMware as a Frontend Engineer, but I usually play with all the pieces in the stack.
    <p>Here you can find stuff about all these topics, as well as some projects I come up with. You can even find some random DJ cuts as I'm trying to learn about it.</p>
  </div>
</section>

<section class="block" aria-labelledby="blog-title">
  <h2 id="blog-title" class="home-title">
    Latest Articles
  </h2>
  <ul class="home-blog-list">
    {% for post in collections.post %}
      <li>
        <a href="{{ post.url }}">
          <article>
            <h3>{{ post.data.title }}</h3>
            <date>
              {{ post.data.date | date("YYYY / MM") }}
            </date>
          </article>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
