---
layout: layout.njk
---

<section class="fr gr gr-home">
  <div class="fr-block fr-block-l">
    <h1>Hey, I'm Angel 👋</h1>
    <p>I'm a curious engineer that <b>loves to learn new things</b> and play videogames. Currently, I'm working on VMware as a Staff Engineer, leading the Developer Experience efforts on AI Advanced Services and <a href="https://wasmlabs.dev/">WebAssembly</a>.</p>
  </div>
  <div class="fr-block fr-block-s">
    <h2>Quick Links</h2>
    <ul class="h">
      <li>
        <a href="{{ social.twitter }}"><s>X</s> Twitter</a>
      </li>
      <li>
        <a href="{{ social.linkedin }}">LinkedIn</a>
      </li>
      <li>
        <a href="{{ social.github }}">GitHub</a>
      </li>
      <p>
        <a href="/card">&raquo; Check all profiles</a>
      </p>
    </ul>
  </div>
  <div class="fr-block fr-block-s">
    <h2>Projects</h2>
    <ul class="h">
      {% for project in projects | limit(5) %}
        <li>
          <a href="{{ project.url }}">{{ project.name }}</a>
        </li>
      {% endfor %}
    </ul>
    <p>
      <a href="{{ social.github }}">&raquo; Check all projects</a>
    </p>
  </div>
  <div class="fr-block fr-block-l">
    <h2>Articles</h2>
    <ul>
      {% for post in collections.post | reverse | limit(3) %}
        <li>
          <article>
            <date class="in mr-05">{{ post.data.date | date("YYYY / MM") }}</date> <a href="{{ post.url }}"><h3 class="in mb-0 mt-0">{{ post.data.title }}</h3> </a>
          </article>
        </li>
      {% endfor %}
      <p>
        <a href="/blog">&raquo; Check all articles</a>
      </p>
    </ul>
  </div>
  <div class="fr-block fr-block-l">
    <h2>Latest Public Talks</h2>
    <ul class="gap-m">
      {% for talk in talks | limit(5) %}
        <li>
          <article>
            </span> <a href="{{ talk.recording_url }}"><h3 class="in mb-0 mt-0">{{ talk.title }}</h3> </a>
            <br />
            {% if talk.cospeaker != null %}
              <i>With {{ talk.cospeaker }} at <a href="{{ talk.abstract_url }}">{{ talk.conference }}</a></i>
            {% else %}
              <i>At <a href="{{ talk.abstract_url }}">{{ talk.conference }}</a></i>
            {% endif %}
          </article>
        </li>
      {% endfor %}
      <p>
        {# <a href="/talks">&raquo; Check all Talks</a> #}
      </p>
    </ul>
  </div>
  <div class="fr-block fr-block-s hm">
  </div>
</section>
