---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
  {%- for page in collections.all %}
  <url>
    <loc>{{ site.url }}{{ page.url | url }}</loc>
    <lastmod>{{ page.date.toISOString() }}</lastmod>
    <changefreq>{{ page.data.sitemapChangefreq | default("monthly") }}</changefreq>
    <priority>{{ page.data.sitemapPriority | default(0.8) }}</priority>
    {%- for link in page.url | locale_links %}
    <xhtml:link rel="alternate" hreflang="{{link.lang}}" href="{{ site.url }}{{link.url}}" />
    {%- endfor %}
  </url>
  {%- endfor %}
  {%- for tag, _ in collections  %}
    {%- if tag != "post" and tag != "all" %}
  <url>
    <loc>{{ site.url }}/tags/{{ tag }}</loc>
    <lastmod>{{ helpers.currentDate().toISOString() }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
    <xhtml:link rel="alternate" hreflang="es" href="{{ site.url }}/es/tags/{{ tag }}" />
  </url>
  <url>
    <loc>{{ site.url }}/es/tags/{{ tag }}</loc>
    <lastmod>{{ helpers.currentDate().toISOString() }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/tags/{{ tag }}" />
  </url>
    {%- endif %}
  {%- endfor %}
</urlset>
