---
title: Angel.kiwi
---

<!doctype html>
<html lang="{{ page.lang }}" dir="ltr">
  {% include 'partials/head.njk' %}
  <body>
    {% include 'partials/header.njk' %}
    <main>
      {{ content | safe }}
    </main>
    {% include 'partials/footer.njk' %}
    <script src="{{ '/static/js/theme.js' | bust }}"></script>
    <script defer data-domain="angel.kiwi" src="https://pla.angel.kiwi/js/script.js"></script>
  </body>
</html>
