/* Dark theme */
:root {
  --color-text: #ece7f5;
  --color-text-light: #b6aebe;
  --color-primary: #C77DFF;
  --color-secondary: #fc50eb;
  --color-nav-decorator: #ffb7f4;
  --color-border: #3C096C;
  --color-background: #10002B;
  --color-pre-background: #0d001e;
  --color-code-background: #36323a;
  --color-input-border: var(--color-secondary);
  --color-input-background: #ecd2ff;
}

/* This style doesn't look good on light mode */
a:hover {
  text-shadow: 0 0 6px rgba(226, 30, 20, 0.75);
}
