/* Variables */
:root {
  --color-text: #292929;
  --color-text-light: #898989;
  --color-primary: #9e00ff;
  --color-secondary: #e21ecf;
  --color-nav-decorator: #dfdfdf;
  --color-border: #dfdfdf;
  --color-background: #fff;
  --color-pre-background: #231b1f;
  --color-code-background: #dfdfdf;
  --color-input-border: #ccc;
  --color-input-background: #fafafa;

  --size-container-max-witdh: min(95%, 1100px);
}

/* Header */
header.top {
  margin: 1rem auto 0;
}

/* Building blocks*/
.fr {
  border: 1px solid black;
  margin: 1rem auto;
  max-width: min(95%, 1100px);
}

.fr-block {
  padding: 2rem;
  border: 1px solid black;
}

.fr-block ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.fr-block ul li {
  margin-bottom: .25rem;
}

.fr-block ul li:last-child {
  margin-bottom: 0;
}

.fr-block *:first-child {
  margin-top: 0;
}

.fr-block *:last-child {
  margin-bottom: 0;
}

.fr-block-m,
.fr-block-s {
  grid-column: span 2;
}

.fr-block-l {
  grid-column: span 4;
}

@media screen and (min-width: 760px) {
  .fr-block-s {
    grid-column: span 1;
  }

  .fr-block-m {
    grid-column: span 2;
  }
  
  .fr-block-l {
    grid-column: span 3;
  }
}

/* Grids */
.gr {
  display: grid;
}

.gr-home {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, minmax(1fr, content));
}

@media screen and (min-width: 760px) {
  .gr-home {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, minmax(1fr, content));
  }
}

/* Lists */
ul.h {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: .25rem 1rem;
}

ul.gap-m li {
  margin-top: .5rem;
}

ul.gap-m li:first-child {
  margin-top: 0;
}

/* Helpers */
.in {
  display: inline-block;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-05 {
  margin-right: 0.5rem;
}

.mr-1 {
  margin-right: 1rem;
}

@media screen and (max-width: 760px) {
  .hm {
    display: none;
  }
}
