<head>
  <title>Angel.kiwi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="icon" href="/static/favicon.svg"/>
  <style>
    @font-face {
      font-display: swap;
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 400;
      src: url('/static/fonts/nunito-sans-regular.woff2') format('woff2');
    }
    @font-face {
      font-display: swap;
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 800;
      src: url('/static/fonts/nunito-sans-bold.woff2') format('woff2');
    }
  </style>
  <link href="/static/css/main.css" rel="stylesheet"/>
</head>
