<head>
  <title>Angel.kiwi</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="icon" href="/static/favicon.svg"/>
  <style>
    @font-face {
      font-display: swap;
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 400;
      src: url('/static/fonts/nunito-sans-regular.woff2') format('woff2');
    }
    @font-face {
      font-display: swap;
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 800;
      src: url('/static/fonts/nunito-sans-bold.woff2') format('woff2');
    }
  </style>
  <link rel="stylesheet" href="/static/css/main.css" />
  <link id="dark-theme" rel="stylesheet" href="/static/css/dark.css" disabled="true">
  <!-- Theme switcher -->
  <script>
    // Global properties and helpers
    window.KIWI_THEME = {
      key: "mode",
      light: "light",
      dark: "dark",
      enableDark: (button) => {
        const darkLink = document.querySelector("#dark-theme");
        darkLink.disabled = false;

        if (button) {
          button.setAttribute("aria-pressed", true)
        }
      },
      disableDark: (button) => {
        const darkLink = document.querySelector("#dark-theme");
        darkLink.disabled = true;

        if (button) {
          button.setAttribute("aria-pressed", false)
        }
      }
    };

    // Identify style based on system preferences
    const isSystemDarkMode =
      matchMedia && matchMedia("(prefers-color-scheme: dark)").matches;
    // Get color from localStorage
    const currentValue = localStorage.getItem(KIWI_THEME.key);

    if (currentValue === KIWI_THEME.dark || (currentValue == null && isSystemDarkMode)) {
      KIWI_THEME.enableDark();
    }
  </script>
</head>
