<header class="top block">
  <a class="navlogo" href="/" aria-label="Homepage">
    {% include 'partials/logo.njk' %}
  </a>
  <nav>
    <ul class="reset">
      <li>
        <a href="/blog">Articles</a>
      </li>
      <li>
        <a href="/til">TIL</a>
      </li>
      <li>
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/Angelmmiguel">GitHub</a>
      </li>
      <li>
        <a href="/card">Social</a>
      </li>
      <li>
        <button id="switch-theme" class="theme-button" aria-label="Dark Theme" aria-pressed="false">
          <svg aria-hidden="true" class="theme-icon" width="20" height="20" viewBox="0 0 21 21">
            <path class="theme-icon-bg" d="M19.5 11.667a7.833 7.833 0 1 1-15.667 0 7.833 7.833 0 0 1 15.667 0Z" stroke-width="1.25"/>
            <path class="theme-icon-fg" d="M16.93 5.229c.434.341.429.983.038 1.373l-5.183 5.183-5.183 5.183c-.39.391-1.032.396-1.373-.038A8.335 8.335 0 0 1 16.93 5.229Z"/>
          </svg>
        </button>
      </li>
    </ul>
  </nav>
</header>
