<header class="top block">
  <a class="navlogo" href="/" aria-label="Homepage">
    <img alt="Angel.kiwi logo" src="/static/images/logo.svg" />
  </a>
  <nav>
    <ul class="reset">
      <li>
        <a target="_blank" rel="noopener noreferrer" href="#">Projects</a>
      </li>
      <li>
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/Angelmmiguel">GitHub</a>
      </li>
    </ul>
  </nav>
</header>