<head>
  <title>{{ title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, user-scalable=1">
  <meta name="og:title" content="{{ title }}">
  {% if description %}
    <meta name="description" content="{{ description }}">
    <meta name="og:description" content="{{ description }}">
  {% endif %}
  {% if type == "article" %}
    <meta name="og:type" content="{{ type }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@_angelmm">
    <meta name="twitter:creator" content="@_angelmm">
  {% endif %}
  {% if picture %}
    <meta name="og:image" content="https://angel.kiwi{{ picture }}">
  {% endif %}

  <link rel="icon" href="{{ '/static/favicon.svg' | bust }}">
  <style>
    @font-face {
      font-display: swap;
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 400;
      src: url('{{ '/static/fonts/nunito-sans-regular.woff2' | bust }}') format('woff2');
    }
    @font-face {
      font-display: swap;
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 800;
      src: url('{{ '/static/fonts/nunito-sans-bold.woff2' | bust }}') format('woff2');
    }
  </style>
  <link rel="stylesheet" href="{{ '/static/css/main.css' | bust }}">
  <link rel="stylesheet" href="{{ '/static/css/mini.css' | bust }}">
  {% if extra_css %}
    <link rel="stylesheet" href="{{ extra_css | bust }}">
  {% endif %}
  <link id="dark-theme" rel="stylesheet" href="{{ '/static/css/dark.css' | bust }}" disabled="true">

  <!-- Theme switcher -->
  <script>
    // Global properties and helpers
    window.KIWI_THEME = {
      key: "mode",
      light: "light",
      dark: "dark",
      enableDark: (button) => {
        const darkLink = document.querySelector("#dark-theme");
        darkLink.disabled = false;

        if (button) {
          button.setAttribute("aria-pressed", true)
        }
      },
      disableDark: (button) => {
        const darkLink = document.querySelector("#dark-theme");
        darkLink.disabled = true;

        if (button) {
          button.setAttribute("aria-pressed", false)
        }
      }
    };

    // Identify style based on system preferences
    const isSystemDarkMode =
      matchMedia && matchMedia("(prefers-color-scheme: dark)").matches;
    // Get color from localStorage
    const currentValue = localStorage.getItem(KIWI_THEME.key);

    if (currentValue === KIWI_THEME.dark || (currentValue == null && isSystemDarkMode)) {
      KIWI_THEME.enableDark();
    }
  </script>
</head>
